<link rel="stylesheet" href="~/css/adminArea/file/manage.css"/>

<section class="d-flex justify-content-center my-3 ">
	<div class="p-5 br-3 bg-dark-to-light w-100 text-white">
        <div class="d-flex justify-content-between container">
         <h3>دسته بندی</h3>
         <a asp-action="Create" class="btn btn-success text-white w-50">جدید</a>
        </div>
        <hr />
        <br />
        <div class="p-4 rounded table-responsive" >
            <table id="tblData" class="table table-striped table-bordered table-dark" >
                <thead>
                    <tr>
                        <th class="text-center text-white w-50">نام</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
	</div>
</section>

@section Scripts{
    <script src="~/js/adminArea/category/index.js"></script>
}