<section class="d-flex justify-content-center my-3 ">
	<div class="p-5 br-3 bg-dark-to-light w-100 text-white">
		<div class="d-flex justify-content-start">
			<h2 style="color:lightpink;">پشتیبانی</h2>
		</div>
		<hr />
		<div class="p-1 mt-4 text-shadow-dark h5">
			با ما در ارتباط باشید : m.senator.6247@gmail.com
		</div>
	</div>
</section>
