@using ParsFile.Application
<link  rel="stylesheet" href="~/css/home/index.css"/>
@model IEnumerable<ParsFile.Domain.Entities.Content.File>

<!------------- intro ------------->
<section class="intro bs-light w-100">
    <div class="intro-content">
        <h2 class="fw-bold text-white mb-5">به روز ترین سیستم مدیریت اشتراک فایل</h2>
        <p class="lead text-white" style="opacity:.8;text-shadow:2px 2px 2px gray;">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
            از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
            سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
            متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
            درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با
            نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طپ دنیای
            موجود طراحی اساسا مورد استفاده قرار گیرد.
        </p>
    </div>
</section>

<!------------- content ----------->
<section class="mt-5 container">
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne"
                        aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                    چرا پاس فایل
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne"
                 class="accordion-collapse collapse show"
                 aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                    در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                    نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
                    جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای
                    طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
                    فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری
                    موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد
                    نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل
                    دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                    تاریخچه اطلاعات
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo"
                 class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                    در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                    نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
                    جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای
                    طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
                    فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری
                    موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد
                    نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل
                    دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                    کار با ما
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree"
                 class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                    در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                    نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
                    جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای
                    طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
                    فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری
                    موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد
                    نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل
                    دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                </div>
            </div>
        </div>
    </div>
</section>

<!------------ recent files ----------->
<section class="mt-5 recent-files container-fluid">
    <h2 class="h2 text-dark text-right mt-2 mb-4 display-5">فایل های اخیر</h2>

    <ul class="d-flex list-unstyled">
        @foreach(var file in Model)
        {
            <li class="mx-2">
                <div class="card" style="width: 18rem">
                    <img src="@SD.FileImagesPath@file.Image"
                     class="card-img-top img-carousel p-4"
                     alt="@file.Name"/>
                    <div class="card-body px-4">
                        <h5 class="card-title mb-3">@file.Name</h5>
                        <p class="card-text lead h6 mb-3">
                            @{
                                var words = file.Description.Split(' ').Take(12);
                                String shortDesc = String.Join(' ',words);
                            }
                            @shortDesc
                        </p>
                        <p class="h5">قیمت : <span class="text-warning">@file.Price.ToString("#,0")</span></p>
                        <div class="text-center mt-4">
                            <a href="/Admin/File/Show/@file.Id" class="btn w-50 btn-secondary text-white">جزئیات</a>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</section>

<!------------ contact us ----------->
<section id="content" class="mt-5">
    <form class="content_form">
        <input type="text" placeholder="نام" />
        <input type="email" placeholder="ایمیل" />
        <input type="text" placeholder="موضوع" />
        <textarea name="message" placeholder="پیام"></textarea>
        <input type="submit" value="ارسال" />
    </form>

    <div class="content-bg"></div>
</section>